<footer class="pmd-footer bg-dark pmd-footer-dark">
  <div class="container">
    <div class="row pb-4">
      <div class="col-md-3 col-sm-6 col-12">
        <ul class="pmd-footer-nav flex-column text-center sm-mb-2">
          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
          />
          <li class="pmd-listing-title">Packages</li>
          <li>
            <a href="javascript:void(0);">Basic</a>
          </li>
          <li><a href="javascript:void(0);">Premium</a></li>
          <li><a href="javascript:void(0);">Annual</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <ul class="pmd-footer-nav flex-column text-center sm-mb-2">
          <li class="pmd-listing-title">Support on</li>
          <li>
            <a href="https://www.instagram.com/">Insagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/;">Facebook</a>
          </li>
          <li>
            <a href="https://twitter.com/">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <ul class="pmd-footer-nav flex-column text-center">
          <li class="pmd-listing-title">About Us</li>
          <li><a href="javascript:void(0);">Profile</a></li>
          <li><a href="javascript:void(0);">Programs and Services</a></li>
          <li><a href="javascript:void(0);">Future Goals</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <ul class="pmd-footer-nav flex-column text-center">
          <li class="pmd-listing-title">Contact</li>
          <ul>
            <a href="mailto:fitfusion&#64;gmail.com">fitfusion&#64;gmail.com</a>
            <br />
            <a href="tel:+918576423456">+91 85764 23456</a>
          </ul>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <div class="social-icons mb-3">
        <h1><i class="fab fa-twitter"></i></h1>
        <h1><i class="fab fa-instagram"></i></h1>
        <h1><i class="fab fa-facebook"></i></h1>
      </div>
      <div class="pmd-site-info">
        <div>Powered by: fitfusionwebsite.com</div>
      </div>
    </div>
  </div>
</footer>
