<div class="container">
  <div style="text-align: center">
    <h2>Contact Us</h2>
    <p class="text-center w-responsive mx-auto mb-5">
      Whether you have questions about our services, want to inquire about
      membership options, or need assistance with your fitness journey, we're
      here to help. Please feel free to reach out to us directly, and our
      dedicated team will respond promptly to assist you in any way we can.
    </p>
  </div>
  <div class="row">
    <div class="column">
      <img src="assets/images/contact.jpg" style="width: 100%" />
    </div>
    <div class="column">
      <form>
        <label for="fname">First Name</label>
        <input
          type="text"
          id="fname"
          name="firstname"
          placeholder="Your name.."
        />
        <label for="lname">Last Name</label>
        <input
          type="text"
          id="lname"
          name="lastname"
          placeholder="Your last name.."
        />
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <textarea
          id="subject"
          name="subject"
          placeholder="Write something.."
          style="height: 170px"
        ></textarea>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
