<div class="container">
  <h1>About Us</h1>

  <div>
    <video controls width="95%">
      <source src="assets/videos/gym2.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="about-content">
    <p>
      Welcome to our fitness center! We are dedicated to helping our members
      achieve their fitness goals and lead healthier lives. With
      state-of-the-art equipment, experienced trainers, and a supportive
      community, we provide a welcoming environment for people of all fitness
      levels.
    </p>
    <p>
      Step into our modern facility designed to inspire and motivate, equipped
      with cutting-edge amenities and a supportive community. Join us today and
      embark on your journey to better health and vitality!
    </p>
    <p>
      Whether you're looking to lose weight, build muscle, improve your
      cardiovascular health, or simply stay active, we have the resources and
      expertise to help you succeed. Our comprehensive range of fitness programs
      and classes caters to diverse interests and preferences.
    </p>
    <p>
      At our fitness center, we prioritize safety, effectiveness, and enjoyment
      in every aspect of our services. Join us today and embark on a journey
      towards better health and wellness!
    </p>

    <div>
      <h1>Programs and Services</h1>
      <div class="owl-carousel">
        <div class="item">
          <div class="card">
            <img
              src="assets/images/outsideprogram.jpg"
              alt="Image 1"
              class="card-img-top"
            />
            <div class="card-body">
              <h2>Outdoor Programs</h2>
              <p class="card-text">
                At FitFusion Hub, we believe in the power of outdoor programming
                to invigorate your fitness journey. Our outdoor sessions offer a
                refreshing break from traditional gym settings, allowing you to
                connect with nature while achieving your fitness goals. Whether
                it's a scenic trail run, a challenging obstacle course, or a
                rejuvenating yoga session in the park, our outdoor programs
                offer dynamic opportunities to enhance your strength, stamina,
                and overall well-being. Join us as we embrace the great outdoors
                and elevate your fitness experience to new heights.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <img
            src="assets/images/interior.jpg"
            alt="Image 1"
            class="card-img-top"
          />
          <div class="card-body">
            <h2>Interior Visit</h2>
            <p class="card-text">
              Experience the essence of our fitness sanctuary through an Step
              into a world of motivation and inspiration as you explore our
              thoughtfully designed gym space. From state-of-the-art equipment
              to stylish and functional workout zones, every corner is
              meticulously crafted to elevate your fitness journey. Our inviting
              ambiance and modern amenities create an environment conducive to
              achieving your fitness goals. Join us for an immersive interior
              visit and discover the ultimate destination for health and
              wellness transformation.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="assets/images/dietpaln.jpg"
            alt="Image 1"
            class="card-img-top"
          />
          <div class="card-body">
            <h2>Diet Plan</h2>
            <p class="card-text">
              Embrace a balanced and nourishing approach to nutrition that
              complements your fitness regimen and aligns with your wellness
              goals. Our customized diet plans are designed to fuel your body
              with the right nutrients, support muscle recovery, and enhance
              overall performance. Whether you're aiming to lose weight, build
              muscle, or improve your energy levels, our trainers will guide you
              towards making sustainable dietary choices that promote long-term
              success.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2>Future Goals</h2>
    <section class="future-goals-container">
      <img
        src="assets/images/futuregoals.jpg"
        alt="Future Goals Image"
        class="future-goals-image"
      />
      <p>
        At FutFusion Hub, we are driven by a vision of continuous growth and
        evolution. Looking ahead, our focus is on expanding our reach and impact
        while enhancing the member experience. We envision opening new locations
        in communities where access to high-quality fitness facilities is
        limited, extending our commitment to health and wellness to a broader
        audience. We aspire to deepen our outreach efforts through partnerships
        and initiatives that promote health and wellness beyond our gym walls.
        Through ongoing education and training for our team, we remain committed
        to delivering excellence in fitness coaching and customer service. As we
        embark on this exciting chapter, we invite you to join us in shaping the
        future of fitness at FitFusion Hub.
      </p>
    </section>
  </div>
</div>
